/*----- Basic installation -----*/
@import "variables"


/*---- Other ----*/
{principal-title}
    font-size size-xmedium
    line-height line-xmedium
{second-title}
    font-size size-medium
    line-height line-medium
{third-title}
    font-size size-normal
    line-height line-normal
/*---- btn ----*/
.btn
    padding 10px 20px 6px 20px
    line-height 14px
    
/*---- module ----*/
.module
    width 90%
    padding 20px 5%     

/*---- innerblock -----*/
.inner-block
    width 100%
    
/*:::::::::::: Wrapper ::::::::::::::*/
#wrapper.active
    margin-left -80%
    box-shadow 0 5px 40px rgba(0,0,0,.5)

/*:::::::::::: Header ::::::::::::::*/
header
    width 90%
    padding 10px 5%
    
/*--- logo ---*/
.logo
    width 140px

/*---- menu ----*/
#menu
    position fixed
    top 0
    right 0
    width 80%
    background gray5
    padding-top 14px
    height 100%
    ul
        li
            margin-right 10px
            width 90%
            padding 10px 5%
            border-bottom 1px solid gray1
            a
                color neutral
                i
                    color neutral
            a.active
                color principal
                
/*---- open -----*/
#open
    width 30px
    height 30px
    float right
    display block
    z-index 10
    top 20px
    small
        width 100%
        background txt
        height 3px
        margin-bottom 7px
        display block
        background txt1
#open small:last-child
    margin-bottom 0
    opacity 1
#open.active
    small
        background principal !important
        margin-top 1px
    small:nth-child(1)
        transform rotate(45deg)
        transform-origin 0px 7px
    small:nth-child(2)
        transform rotate(-45deg)
        transform-origin 17px 3px
    small:last-child
        opacity 0   
        
/*:::::::::::: Content ::::::::::::::*/
        
        
/*________ Slider ________*/
.slider,
.slider .slick-slide
    width 100%
    height 300px
/*-- arrow --*/    
.slider
    .slick-arrow
        left 5%
        font-size 30px
    .slick-prev
        top 10px
    .slick-next
        top 40px
    /*-- dots --*/    
    .slick-dots
        display none !important
            
/*-- slick slide --*/
.slider .slick-slide
    article
        width 90%
        position absolute
        bottom 20px
        left 5%
        p
            display none
        h1,
        h2
            span
                font-size size-large
                line-height line-large

/*---- btn zone ----*/    
.btn-zone
    a
        margin-right 20px 
        
/*------ The grid ------*/        
.the-grid
    .small-grid
        width 100%
        ul
            li
                width 100%
                margin-bottom 20px
                height 200px
            li+li+li
                width 100%
    aside
        float left
        height 200px
        width 100%
        margin-bottom 20px

/*---- element -----*/        
.element
    article
        position absolute
        left 5%
        bottom 15px
        z-index 3
    .shade
        height 50%
        
/*________ Section hero ________*/
.section-hero
    height 300px
    .inner-block
        article
            width 90%
            padding 40px 5% 0 5%
    h1,
    h2
        span
            font-size size-large
            line-height line-large
            
/*________ Message module ________*/
.message-module
    width 90%
    padding 20px 5%    
    
/*________ half module ________*/
.half-module
    width 100%
    article,
    aside
        float left
    article
        width 90%
        padding 20px 5% 30px 5%
        a.btn
            max-width 60px
            margin-top 20px
    aside
        width 100%
        min-height 300px
        figure
            width 100%
            
/*________ Inner page ________*/
.inner-page
    padding 20px 5%
    width 90%
    article
        width 100%
            
/*________ Social bar ________*/
.social-bar
    width 100%
    margin-bottom 15px
    ul
        display inline-block
        width 100%
        li
            width 80px
            float left
            height 20px
            padding-left 10px
            a.share
                position absolute
                top 0
                width 20px
            a.count
                padding-left 20px
                width 50px
                padding-top 3px
        li:first-child
            border-right 1px solid gray1 
            padding-left 0

/*________ Gallery module ________*/            
.gallery-module
    button.slick-arrow
        top 55%
        margin-top -20px
        right 3%
    button.slick-next
        top 45%
.gallery-module,
.gallery-module .slick-slide
    height 250px     
    
/*________ Carousel module ________*/    
.carousel-module
    padding-top 50px
    button.slick-prev
        left 48%
        margin-left -20px
    button.slick-next
        right 48%
        margin-right -20px    
    
/*________ Tables module ________*/  
.tables-module
    margin-bottom 20px
    ul
        li
            width 90%
            padding 20px 5%
            margin 0 0 20px 0
            p.price
                font-size 25px
            .btn
                width 70%
                padding 10px 0 6px 0
                margin 0 auto
        li.active
            margin-top 5px
            h3
                font-size 25px
            p.price
                font-size 30px   
                
/*---- Table -----*/
table
    width 100%
    overflow-y: hidden;
    overflow-x: scroll;
    display block
    -webkit-overflow-scrolling touch
    thead,
    tbody
        display block
        width 500px
    td,
    th 
        width 100px            

/*:::::::::::: Fix ::::::::::::::*/
.fix
    height 92px

/*:::::::::::: Footer ::::::::::::::*/
footer
    width 90%
    padding 20px 5%
    
/*---- icon block ----*/
.icon-block
    img
        width 40px
        margin-right 10px
    article
        padding-top 13px
            
/*--- social footer ----*/
.social-footer
    padding-top 13px
    float right            
