/*----- Basic installation -----*/
@import "variables"


/*---- Other ----*/
{principal-title}
    font-size size-large
    line-height line-large
{second-title}
    font-size size-xmedium
    line-height line-xmedium
{third-title}
    font-size size-medium
    line-height line-medium
/*---- btn ----*/
.btn
    padding 10px 30px 6px 30px
    line-height 14px 

/*---- module ----*/
.module
    width 90%
    padding 20px 5%     
    

/*---- innerblock -----*/
.inner-block
    width 100%
    
/*:::::::::::: Wrapper ::::::::::::::*/
#wrapper.active
    margin-left -50%
    box-shadow 0 5px 40px rgba(0,0,0,.5)

/*:::::::::::: Header ::::::::::::::*/
header
    width 90%
    padding 10px 5%
    
/*--- logo ---*/
.logo
    width 140px

/*---- menu ----*/
#menu
    position fixed
    top 0
    right 0
    width 50%
    background gray5
    padding-top 14px
    height 100%
    ul
        li
            margin-right 10px
            width 90%
            padding 10px 5%
            border-bottom 1px solid gray1
            a
                color neutral
                i
                    color neutral
            a.active
                color principal
                
/*---- open -----*/
#open
    width 30px
    height 30px
    float right
    display block
    z-index 10
    top 20px
    small
        width 100%
        background txt
        height 3px
        margin-bottom 7px
        display block
        background txt1
#open small:last-child
    margin-bottom 0
    opacity 1
#open.active
    small
        background principal !important
        margin-top 1px
    small:nth-child(1)
        transform rotate(45deg)
        transform-origin 0px 7px
    small:nth-child(2)
        transform rotate(-45deg)
        transform-origin 17px 3px
    small:last-child
        opacity 0 
        
        
/*:::::::::::: Content ::::::::::::::*/
        
        
/*----- Slider -------*/
.slider,
.slider .slick-slide
    width 100%
    height 350px
/*-- arrow --*/    
.slider
    .slick-arrow
        right 5%
        font-size 30px
        width 30px
    .slick-prev
        top 200px
        border-bottom 2px solid neutral
        padding-bottom 10px
    .slick-next
        top 170px
    /*-- dots --*/    
    .slick-dots
        width 30px
        right 5%
        bottom 20px
            
/*-- slick slide --*/
.slider .slick-slide
    article
        width 70%
        position absolute
        bottom 20px
        left 5%
        p
            display none
        h1,
        h2
            span
                font-size size-xlarge
                line-height line-xlarge
    

    
/*---- btn zone ----*/    
.btn-zone
    a
        margin-right 20px 
        
/*------ Middle block ------*/
.middle-block
    p
        width 70%
        margin 0 auto 30px auto
        font-size size-medium
        line-height line-medium
        
/*------ The grid ------*/        
.the-grid
    .small-grid
        width 100%
        ul
            li
                width 47.7%
                margin-bottom 30px
                margin-right 4.6%
                height 185px
            li+li+li
                width 100%
    aside
        float left
        height 400px
        width 100%
        margin-bottom 30px

/*---- element -----*/        
.element
    article
        position absolute
        left 5%
        bottom 15px
        z-index 3
    .shade
        height 50%  
        
/*------- Section hero ------*/
.section-hero
    height 350px
    .inner-block
        text-align center
        article
            width 90%
            padding 120px 5% 0 5%
    .line
        left 50%
        margin-left -20px
        position relative            
    h1,
    h2
        span
            font-size size-xlarge
            line-height line-xlarge
            
/*---- Message module ---*/
.message-module
    width 90%
    padding 40px 5%
    
/*---- half module ----*/
.half-module
    width 100%
    article,
    aside
        float left
    article
        width 90%
        padding 40px 5% 50px 5%
        a.btn
            max-width 60px
            margin-top 20px
    aside
        width 100%
        min-height 300px
        figure
            width 100% 
            
  
        
/*:::::::::::: Fix ::::::::::::::*/
.fix
    height 92px

/*:::::::::::: Footer ::::::::::::::*/
footer
    width 90%
    padding 20px 5%
    
/*---- icon block ----*/
.icon-block
    img
        width 40px
        margin-right 10px
    article
        padding-top 13px
            
/*--- social footer ----*/
.social-footer
    float right           