/*----- Basic installation -----*/
@import "variables"


/*---- Other ----*/
{principal-title}
    font-size size-large
    line-height line-large
{second-title}
    font-size size-xmedium
    line-height line-xmedium
{third-title}
    font-size size-medium
    line-height line-medium
/*---- btn ----*/
.btn
    padding 10px 40px 6px 40px
    line-height 14px   
    
/*---- module ----*/
.module
    width 100%
    padding 40px 0      

/*---- innerblock -----*/
.inner-block
    width 700px
    

/*:::::::::::: Header ::::::::::::::*/
header
    width 100%
    padding-top 10px
    
/*--- logo ---*/
.logo
    width 140px

/*---- menu ----*/
#menu
    float right
    padding-top 14px
    ul
        li
            margin-right 10px
            a
                color txt
                border-bottom 3px solid neutral
                padding-bottom 20px
                height 20px
                i
                    color txt
            a.active
                border-bottom 3px solid principal
                
/*--- Open ----*/
#open
    display none  

/*:::::::::::: Content ::::::::::::::*/
        
        
/*________ Slider ________*/
.slider,
.slider .slick-slide
    width 100%
    height 420px
/*-- arrow --*/    
.slider
    .slick-arrow
        right 5%
        font-size 30px
        width 30px
    .slick-prev
        top 140px
        border-bottom 2px solid neutral
        padding-bottom 10px
    .slick-next
        top 110px
    /*-- dots --*/    
    .slick-dots
        width 30px
        right 5%
        top 200px
            
/*-- slick slide --*/
.slider .slick-slide
    article
        width 60%
        padding-top 120px
        h1,
        h2
            span
                font-size size-xlarge
                line-height line-xlarge
    

    
/*---- btn zone ----*/    
.btn-zone
    a
        margin-right 20px  
        
/*------ Middle block ------*/
.middle-block
    p
        width 70%
        margin 0 auto 30px auto
        font-size size-medium
        line-height line-medium           
    
/*------ The grid ------*/        
.the-grid
    .small-grid
        width 48.5%
        ul
            li
                width 46.7%
                margin-bottom 30px
                margin-right 6.6%
                height 185px
            li+li+li
                width 100%
    aside
        float right
        height 400px
        width 48.5%

/*---- element -----*/        
.element
    article
        position absolute
        left 5%
        bottom 15px
        z-index 3
    .shade
        height 50%  
        
/*------- Section hero ------*/
.section-hero
    height 420px
    .inner-block
        text-align center
        article
            padding-top 120px
            width 50%
    .line
        left 50%
        margin-left -20px
        position relative
    h1,
    h2
        span
            font-size size-xlarge
            line-height line-xlarge 
            
/*________ Message module ________*/
.message-module
    width 100%
    padding 40px 0
    
/*________ half module ________*/
.half-module
    width 100%
    article
        width 45%
        padding-top 40px
        a.btn
            max-width 60px
            margin-top 20px
    aside
        width 50%
        min-height 500px
        figure
            width 200% 
            
/*---- row side ----*/ 
.row-side.right-side
    article
        float left
        padding-right 5%
    aside
        float right
.row-side.left-side
    article
        float right
        padding-left 5%
    aside
        float left
        figure
            right 0
            left inherit       
        
/*:::::::::::: Fix ::::::::::::::*/
.fix
    height 92px

/*:::::::::::: Footer ::::::::::::::*/
footer
    width 100%
    padding 20px 0
    
/*---- icon block ----*/
.icon-block
    img
        width 40px
        margin-right 10px
    article
        padding-top 13px
            
/*--- social footer ----*/
.social-footer
    float right           
