/*----- Basic installation -----*/
/*---- Other ----*/
h1,
h2 {
  font-size: 30px;
  line-height: 32px;
}
h3,
h4 {
  font-size: 20px;
  line-height: 22px;
}
h5,
h6 {
  font-size: 17px;
  line-height: 19px;
}
/*---- btn ----*/
.btn {
  padding: 10px 40px 6px 40px;
  line-height: 14px;
}
/*---- module ----*/
.module {
  width: 100%;
  padding: 40px 0;
}
/*---- innerblock -----*/
.inner-block {
  width: 800px;
}
/*:::::::::::: Header ::::::::::::::*/
header {
  width: 100%;
  padding-top: 10px;
}
/*--- logo ---*/
.logo {
  width: 190px;
}
/*---- menu ----*/
#menu {
  float: right;
  padding-top: 20px;
}
#menu ul li {
  margin-right: 20px;
}
#menu ul li a {
  color: #383838;
  border-bottom: 3px solid #fff;
  padding-bottom: 20px;
  padding-top: 5px;
  height: 20px;
}
#menu ul li a i {
  color: #383838;
}
#menu ul li a.active {
  border-bottom: 3px solid #12bbc4;
}
/*--- Open ----*/
#open {
  display: none;
}
/*:::::::::::: Content ::::::::::::::*/
/*----- Slider -------*/
.slider,
.slider .slick-slide {
  width: 100%;
  height: 420px;
}
/*-- arrow --*/
.slider .slick-arrow {
  right: 5%;
  font-size: 30px;
  width: 30px;
}
.slider .slick-prev {
  top: 140px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
.slider .slick-next {
  top: 110px;
}
.slider .slick-dots {
  width: 30px;
  right: 5%;
  top: 200px;
}
/*-- slick slide --*/
.slider .slick-slide article {
  width: 50%;
  padding-top: 120px;
}
.slider .slick-slide article h1 span,
.slider .slick-slide article h2 span {
  font-size: 50px;
  line-height: 45px;
}
/*---- btn zone ----*/
.btn-zone a {
  margin-right: 20px;
}
/*------ Middle block ------*/
.middle-block p {
  width: 70%;
  margin: 0 auto 30px auto;
  font-size: 17px;
  line-height: 19px;
}
/*------ The grid ------*/
.the-grid .small-grid {
  width: 48.5%;
}
.the-grid .small-grid ul li {
  width: 46.7%;
  margin-bottom: 30px;
  margin-right: 6.6%;
  height: 185px;
}
.the-grid .small-grid ul li+li+li {
  width: 100%;
}
.the-grid aside {
  float: right;
  height: 400px;
  width: 48.5%;
}
/*---- element -----*/
.element article {
  position: absolute;
  left: 5%;
  bottom: 15px;
  z-index: 3;
}
.element .shade {
  height: 50%;
}
/*------- Section hero ------*/
.section-hero {
  height: 420px;
}
.section-hero .inner-block {
  text-align: center;
}
.section-hero .inner-block article {
  padding-top: 120px;
  width: 50%;
}
.section-hero .line {
  left: 50%;
  margin-left: -20px;
  position: relative;
}
.section-hero h1 span,
.section-hero h2 span {
  font-size: 50px;
  line-height: 45px;
}
/*---- Message module ---*/
.message-module {
  width: 100%;
  padding: 40px 0;
}
/*---- half module ----*/
.half-module {
  width: 100%;
}
.half-module article {
  width: 45%;
  padding-top: 40px;
}
.half-module article a.btn {
  max-width: 60px;
  margin-top: 20px;
}
.half-module aside {
  width: 50%;
  min-height: 450px;
}
.half-module aside figure {
  width: 200%;
}
/*---- row side ----*/
.row-side.right-side article {
  float: left;
  padding-right: 5%;
}
.row-side.right-side aside {
  float: right;
}
.row-side.left-side article {
  float: right;
  padding-left: 5%;
}
.row-side.left-side aside {
  float: left;
}
.row-side.left-side aside figure {
  right: 0;
  left: inherit;
}
/*:::::::::::: Fix ::::::::::::::*/
.fix {
  height: 92px;
}
/*:::::::::::: Footer ::::::::::::::*/
footer {
  width: 100%;
  padding: 20px 0;
}
/*---- icon block ----*/
.icon-block img {
  width: 40px;
  margin-right: 10px;
}
.icon-block article {
  padding-top: 13px;
}
/*--- social footer ----*/
.social-footer {
  float: right;
}
