/*----- Basic installation -----*/
@import "variables"


/*---- Other ----*/
{principal-title}
    font-size size-large
    line-height line-large
{second-title}
    font-size size-xmedium
    line-height line-xmedium
{third-title}
    font-size size-medium
    line-height line-medium
a:hover
    text-decoration none

/*---- innerblock -----*/
.inner-block
    width 900px
    

/*:::::::::::: Header ::::::::::::::*/
header
    width 100%
    padding-top 10px
    
/*--- logo ---*/
.logo
    width 190px

/*---- menu ----*/
#menu
    float right
    padding-top 20px
    ul
        li
            margin-right 20px
            a
                color txt
                border-bottom 3px solid neutral
                padding-bottom 20px
                padding-top 5px
                height 20px
                i
                    color txt
            a:hover
                color principal
                i
                    color principal
            a.active
                border-bottom 3px solid principal
                
/*--- Open ----*/
#open
    display none
