/*:::::: Fonts ::::::::*/
@font-face {font-family:"#";/*----------->  Black*/
			src:url('../fonts/#.eot');
    		src: local('☺'), url('../fonts/#.woff') format('woff'), 
                        url('../fonts/#.ttf') format('truetype'),
                        url('../fonts/#.svg#webfont') format('svg');
            font-weight: bold;
            font-style: normal;
            font-variant: normal;
}


/*:::::: Placeholder :::::*/
::-webkit-input-placeholder { }
::-moz-placeholder { } /* firefox 19+ */
:-ms-input-placeholder {} /* ie */
:-moz-placeholder {}



/*--- Selection ---*/
::selection {/* WebKit/Blink Browsers */}
::-moz-selection {/* Gecko Browsers */}

