/*:::::: Fonts ::::::::*/
@font-face {font-family:"Bold";/*----------->  Bold*/
			src:url('../fonts/foundersgrotesk-semibold.eot');
    		src: local('☺'), url('../fonts/foundersgrotesk-semibold.woff') format('woff'), 
                        url('../fonts/foundersgrotesk-semibold.ttf') format('truetype'),
                        url('../fonts/foundersgrotesk-semibold.svg#webfont') format('svg');
            font-weight: bold;
            font-style: normal;
            font-variant: normal;
}
@font-face {font-family:"Regular";/*----------->  Regular*/
			src:url('../fonts/foundersgrotesk-regular.eot');
    		src: local('☺'), url('../fonts/foundersgrotesk-regular.woff') format('woff'), 
                        url('../fonts/foundersgrotesk-regular.ttf') format('truetype'),
                        url('../fonts/foundersgrotesk-regular.svg#webfont') format('svg');
            font-weight: bold;
            font-style: normal;
            font-variant: normal;
}


/*:::::: Placeholder :::::*/
::-webkit-input-placeholder { }
::-moz-placeholder { } /* firefox 19+ */
:-ms-input-placeholder {} /* ie */
:-moz-placeholder {}



/*--- Selection ---*/
::selection {/* WebKit/Blink Browsers */}
::-moz-selection {/* Gecko Browsers */}

