/*::::::::::::::::::::::::::::::


Holicrobot v.1.0
Template Business Clean
holicstudio.com.mx


:::::::::::::::::::::::::::::::::*/

/*----- Basic installation -----*/
@import "normalize.css"
@import "font-awesome.css"
@import "font-face.css"
@import "animate.css"
@import "variables"


/*:::::::::::: Body ::::::::::::::*/
html
body
    margin 0
    padding 0
    height 100%
    font-size size-normal
    line-height line-normal
    color txt
    font-family fregular

/*---- Other ----*/
{all-title}
    font-family fbold
    margin-bottom 10px    
{principal-title}
    letter-spacing -1.5px
p
    margin 0
    margin-bottom 10px
a
    color principal
    text-decoration underline
.center-title
    width 100%
    text-align center
    
/*---- line ----*/
.line
    width 40px
    height 3px
    background txt
.line.color1
    background principal  
    
/*---- module -----*/
.module
    h2
        text-transform uppercase
        text-align center
    .line
        left 50%
        margin-left -20px
        position relative
        margin-bottom 20px    
    
/*---- btn ----*/
.btn
    padding 10px 40px 6px 40px
    font-family fbold
    color #fff
    text-decoration none
    font-size size-medium
    line-height 14px
.btn.type1
    outline 3px solid principal
    background principal
.btn.type2
    outline 3px solid neutral
    background transparent
.btn.type3
    outline 3px solid principal
    background transparent  
    color principal
    

    
/*---- Transition ----*/
{effect}
    transition .4s

/*---- innerblock -----*/
.inner-block
    height auto
    margin 0 auto

/*:::::::::::: Wrapper ::::::::::::::*/
#wrapper
    min-height 100%
    position relative
    width 100%
    background neutral
    overflow hidden
    

/*:::::::::::: Header ::::::::::::::*/
header
    position relative
    background neutral
    border-bottom 1px solid gray2
     
/*--- logo ---*/
.logo
    float left
    img
        width 100%
        height auto

/*---- menu ----*/
#menu
    ul
        width 100%
        height auto
        padding 0
        margin 0
        list-style none
        li
            float left
            a
                text-decoration none
                text-transform uppercase
                font-family fbold
                display block
                float left
        li.social
            a
                margin-right 10px
            a+a
                margin-right 0
    



/*:::::::::::: Content ::::::::::::::*/
#content
    height auto
    position relative
    width 100%

/*----- backmodule ------*/
.back-module
    figure
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        background-position center center
        background-size cover
        
        
/*________ Slider ________*/
/*-- arrow --*/    
.slider
    overflow hidden
    .slick-arrow
        position absolute
        z-index 1
        color gray1
        cursor pointer
    /*-- dots --*/    
    .slick-dots
        list-style none
        padding 0
        margin 0
        position absolute
        text-align center
        i
            font-size 10px
        li
            width 100%
            button
                width 100%
                cursor pointer
            i
                color gray1
        li.slick-active
            i
                color neutral
            
/*-- slick slide --*/
.slider .slick-slide
    position relative
    img.image
        width 100%
        height auto
    article
        position relative
        z-index 1
        h1,
        h2
            text-transform uppercase
            color gray1
            span
                color txt
                display block
                clear both
        .line
            margin-bottom 20px
    

    
/*---- btn zone ----*/    
.btn-zone
    width 100%
    a
        float left
        
/*------ Middle block ------*/
.middle-block
    text-align center
    img
        width 100%
        height auto
        
/*------ The grid ------*/        
.the-grid
    width 100%
    height auto
    .small-grid
        float left
        ul
            width 100%
            height auto
            list-style none
            padding 0
            margin 0
            li
                float left
            li+li
                margin-right 0
            li+li+li
                margin-bottom 0
    aside
        position relative

/*---- element -----*/        
.element
    position relative
    overflow hidden
    a
        display block
        text-decoration none
    img
        width 100%
        height auto
    article
        h5,
        h6
            color neutral
            text-transform uppercase
            margin-bottom 0
        p
            color gray4
            margin-bottom 0
    .shade.back3
        z-index 2
    .shade.back4
        z-index 1
        
/*________ shade ________*/
.shade
    width 100%
    height 100%
    position absolute
    bottom 0
    left 0
    z-index 1
.shade.back1
    background shade1
.shade.back2
    background shade2
.shade.back3
    background gradient1 
.shade.back4
    background gradient2  
    
    
/*________ Section hero ________*/
.section-hero
    width 100%
    overflow hidden
    position relative
    img
        width 100%
        height auto
    .inner-block
        z-index 2
        position relative
        color neutral
        article
            margin 0 auto
    .line
        margin-bottom 20px 
    h1,
    h2
        text-transform uppercase
        color gray1
        span
            display block
            color neutral
            
/*________ Message module ________*/
.message-module
    height auto
    text-align center
    h3,
    h4
        font-family fregular
        text-transform uppercase
    .line
        left 50%
        margin-left -20px
        position relative
        
     
        
/*________ half module ________*/
.half-module
    article,
    aside
        position relative
        h1,
        h2
            text-transform uppercase
    article
        a.btn
            display block
            text-align center
    aside
        img
            width 100%
            overflow hidden
            height auto

            
/*---- row side ----*/
.row-side
    width 100%
    height auto   

/*________ Inner page ________*/
.inner-page
    position relative
    h1,
    h2
        text-transform uppercase
    article
        margin 0 auto
        img
            width 100%
            height auto
            clear both
            display block
            margin-bottom 20px
        
/*________ Social bar ________*/
.social-bar
    height auto
    padding 0
    ul
        padding 0
        margin 0
        list-style none
        li
            width 100%
            text-align center
            position relative
            a
                text-decoration none
                display block
                color gray5
                width 100%
                i
                    font-size 20px
            
            
/*________ Gallery module ________*/            
.gallery-module
    width 100%
    height auto
    overflow hidden
    margin-bottom 20px
    img
        width 100%
        height auto
        margin-bottom 0
    .slick-slide
        position relative
    button.slick-arrow
        position absolute
        margin-top -20px
        color neutral
        font-size 40px
        z-index 2
        height 40px
        cursor pointer
        text-shadow 0 3px 5px rgba(0,0,0,.5)

    
/*________ Carousel module ________*/    
.carousel-module
    width 100%
    height auto
    margin-bottom 20px
    .slick-slide
        img
            padding 0 5%
            width 90%
            height auto
    button.slick-arrow
        position absolute
        top 0
        color gray5
        font-size 40px
        z-index 2
        height 40px
        cursor pointer
        width 40px
        text-align center

                
/*________ Tables module ________*/  
.tables-module
    width 100%
    height auto
    ul
        width 100%
        height auto
        padding 0
        margin 0
        list-style none
        li
            float left
            background gray4
            text-align center
            p.price
                color principal
                font-family fbold
            .skill
                width 100%
                height auto
                padding-bottom 5px
                border-bottom 1px solid gray2
                margin-bottom 10px
                p,
                h5
                    margin-bottom 0
                    width 100%
                    font-size size-small
                    line-height line-normal
            .skill.last-sk
                margin-bottom 20px
            .btn
                display block
                text-align center        
        li:last-child
            margin-right 0
        li.active
            .btn
                background principal
                color neutral
                
/*---- Table -----*/
table
    height auto
    margin-bottom 20px
    tr
        border-bottom 1px solid gray2
    th,
    td
        padding 10px
        text-align left
    th
        font-family fbold

/*:::::::::::: Fix ::::::::::::::*/
.fix
    width 100%

/*:::::::::::: Footer ::::::::::::::*/
footer
    position absolute
    bottom 0
    left 0
    z-index 1  
    background gradient3
    
/*---- icon block ----*/
.icon-block
    float left
    color neutral
    img
        float left
    article
        float left
        p
            margin-bottom 0
        a
            color neutral
            
/*--- social footer ----*/
.social-footer
    padding 0
    margin 0
    list-style none
    li
        float left
        margin-left 10px
        a
            color neutral
    
    
    