/*::::::::::::::::::::::::::::::


Holicrobot v.1.0
Template Business Clean
holicstudio.com.mx


:::::::::::::::::::::::::::::::::*/

/*----- Basic installation -----*/
@import "normalize.css"
@import "font-awesome.css"
@import "font-face.css"
@import "animate.css"
@import "variables"


/*:::::::::::: Body ::::::::::::::*/
html
body
    margin 0
    padding 0
    height 100%


/*---- Transition ----*/
{effect}
    transition .4s

/*---- innerblock -----*/
.inner-block
    height auto
    margin 0 auto
    width 900px

/*:::::::::::: Wrapper ::::::::::::::*/
#wrapper
    min-height 100%
    position relative
    width 100%
    background neutral
    z-index 1
    

/*:::::::::::: Header ::::::::::::::*/
header
    position relative
    width 100%



/*:::::::::::: Content ::::::::::::::*/
#content
    height auto
    position relative
    width 100%

    
/*:::::::::::: Fix ::::::::::::::*/
.fix
    width 100%

/*:::::::::::: Footer ::::::::::::::*/
footer
    position absolute
    width 100%
    bottom 0
    left 0
    z-index 1    