//:::::: Variables ::::::

//--- fonts ---
fbold = "Bold"
fregular = "Regular"

//--- Sizes text ----
size-small = 13px
size-normal = 14px
size-medium = 17px
size-xmedium = 20px
size-large = 30px
size-xlarge = 50px


//--- Line heights ----
line-small = 15px
line-normal = 18px
line-medium = 19px
line-xmedium = 22px
line-large = 32px
line-xlarge = 45px

//----- Titles ----
all-title = 'h1, h2, h3, h4, h5, h6'
principal-title = 'h1, h2'
second-title = 'h3, h4'
third-title = 'h5, h6'

//---- transition ----
effect = 'a, input, textarea, button, i, #open small, #wrapper, .element figure'
transition()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    -ms-transition arguments
transition-timing-function()
    -webkit-transition-timing-function arguments
    -moz-transition-timing-function arguments
    -o-transition-timing-function arguments
    -ms-transition-timing-function arguments
transform()
    -webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
    -ms-transform arguments
transform-origin()
    -moz-transform-origin arguments
    -o-transform-origin arguments
    -ms-transform-origin arguments
    -webkit-transform-origin arguments
    
//--- Box sizing
box-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    -o-box-sizing arguments
    -ms-box-sizing arguments
animation-name()
    -webkit-animation-name arguments
    -moz-animation-name arguments
    -o-animation-name arguments
    -ms-animation-name arguments
animation-duration()
    -webkit-animation-duration arguments
    -o-animation-duration arguments
    -ms-animation-duration arguments
    -moz-animation-duration arguments
animation()
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments
    -ms-animation arguments
animation-delay()
    -webkit-animation-delay arguments
    -o-animation-delay arguments
    -ms-animation-delay arguments
    -moz-animation-delay arguments
animation-iteration-count()
    -webkit-animation-iteration-count arguments
    -moz-animation-iteration-count arguments
    -o-animation-iteration-count arguments
    -ms-animation-iteration-count arguments
    
//----- Solid color -----
txt = #383838
principal = #12bbc4
principal2 = #109AA1
// GRAY
gray1 = #9a9a9a
gray2 = #c9c9c9
gray3 = #ebebeb
gray4 = #f2f2f2
gray5 = #555555
// NEUTRAL
neutral = #fff
blackcolor = #000
// Social
social1 = #3b5998
social2 = #3ACAFF

//----- Gradients -----
gradient1 = linear-gradient(to bottom, rgba(18,187,196,0) 0%, rgba(18,187,196,0.7) 100%)
gradient2 = linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%)
gradient3 = linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(19,19,19,1) 100%)
//----- Shades -----
shade1 = rgba(0,0,0,.6)
shade2 = rgba(255,255,255,.6)


//------ End variables