//:::::: Variables ::::::

//--- fonts ---
fontblack = "black"
fontnbold = "bold"
fontmedium = "medium"
fontlight = "light"

//--- Sizes text ----



//--- Line heights ----


//----- Titles ----
principal-title = 'h1, h2'
second-title = 'h3, h4'
third-title = 'h5, h6'

//---- transition ----
effect = 'a, input, textarea, button, i'
transition()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    -ms-transition arguments
transition-timing-function()
    -webkit-transition-timing-function arguments
    -moz-transition-timing-function arguments
    -o-transition-timing-function arguments
    -ms-transition-timing-function arguments
transform()
    -webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
    -ms-transform arguments
transform-origin()
    -moz-transform-origin arguments
    -o-transform-origin arguments
    -ms-transform-origin arguments
    -webkit-transform-origin arguments
    
//--- Box sizing
box-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    -o-box-sizing arguments
    -ms-box-sizing arguments
animation-name()
    -webkit-animation-name arguments
    -moz-animation-name arguments
    -o-animation-name arguments
    -ms-animation-name arguments
animation-duration()
    -webkit-animation-duration arguments
    -o-animation-duration arguments
    -ms-animation-duration arguments
    -moz-animation-duration arguments
animation()
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments
    -ms-animation arguments
animation-delay()
    -webkit-animation-delay arguments
    -o-animation-delay arguments
    -ms-animation-delay arguments
    -moz-animation-delay arguments
animation-iteration-count()
    -webkit-animation-iteration-count arguments
    -moz-animation-iteration-count arguments
    -o-animation-iteration-count arguments
    -ms-animation-iteration-count arguments
    
//----- Solid color -----

//------ End variables